html, body{
  width: 100%;
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  overflow: hidden;

  background: #fff;
}

#map{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#coords{
  z-index: 500;
  width:200px;
  height:32px;
  position: relative;
  margin-left: 1200px;
  font-size-adjust: auto;
  font-size: 32px;
}

#state{
  z-index: 500;
  width:200px;
  height:32px;
  position: relative;
  margin-left: 500px;
  font-size-adjust: auto;
  font-size: 32px;
}

#Detonate{
  z-index: 500;
  position: absolute;
  margin-left: 20px;
  margin-bottom: 550px;
  font-size: 200%;
  font-weight: 400;
  background-color: #970000;
  border-style: solid;
  border-color: #000000;
  border-width: medium;
}

#bigCircle{
  z-index: 500;
  width: 200px;
  height: 200px;
  position: fixed;
  border-radius: 50%;
}
